spring:
  datasource:
    url: jdbc:mysql://106.12.210.63:3306/spring_boot_demo?useUnicode=true&characterEncoding=utf8&useSSL=true
    username: root
    password: root
  jpa:
    database: MYSQL
    show-sql: true
  #Hibernate ddl auto (validate|create|create-drop|update)
    hibernate:
      ddl-auto: update
      naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect